*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  h1{
    text-align: left;
    margin: 23px;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
  }
  .item{
    text-align: center;
    padding: 40px;
    margin-top: 28px;
    width: 300px;
    color: black;
    background-color: rgb(193, 193, 193);
  }
  li {
    list-style: none;
  }
  .kind_wrap {
    border:2px solid black; 
    width:100%; 
    max-width:1500px; 
    margin:0 auto; 
    position: relative;
  }
  .kind_wrap > .kind_slider {
    overflow: hidden;
  }
  .kind_wrap > .kind_slider .slider { 
    position: relative; 
    transition: 0.5s;
  }
  .kind_wrap > .kind_slider .slider li {
    float:left;
  }
  .kind_wrap > .kind_slider img {
    vertical-align: top;
  }
  .kind_wrap .arrow > a.prev  {
    position: absolute; 
    left:30px; 
    top:175px;
    color: black;
    font-size: 70px;
  }
  .kind_wrap .arrow > a.next {
    position: absolute; 
    right:30px; 
    top:175px;
    color: black;
    font-size: 70px;
  }


  footer{
    text-align: center;
    background-color: rgb(193, 193, 193);
    width: 100%;
    height: 70px;
    bottom: 0;
    position: absolute;
  }
  footer > div{
    margin: 8px;
  }